<script src="https://giscus.app/client.js"
        data-repo="kounkou/kounkou.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxODk0NzY1MDU="
        data-category="Comments"
        data-category-id="DIC_kwDOC0sumc4CZXZE"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
